
region_h3_with_peaks.parquet
places_es.parquet
places_cut.parquet
places.parquet
peaks_h3.csv
peaks.parquet
peaks.csv
paris_roads.geojson
oregon_h3.parquet
oregon_h3.csv
oregon.parquet
oregon.gpkg
old_city_places.geojson
mydb.dbb
h3_countries.csv
h3.csv
germany_places_clipped3.parquet
germany_places_clipped2.parquet
germany_places_clipped.parquet
germany_places.parquet
germany_border.parquet
european_peaks.parquet
cut4.parquet
cut.parquet
countries.parquet
complete.gpkg
buildings_h3.csv
buildings.parquet
.DS_Store
